.header {
  height: 56px;
  line-height: 56px;
  padding-inline: 24px;
  background-color: #e8f1ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d7e1eb;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 64px;
}

.nav a {
  font-size: 14px;
  opacity: 0.65;
}

.nav a.active {
  font-weight: bold;
  opacity: 1;
}

.layout{
  min-height: 100vh;
  background: linear-gradient(to bottom, #e8f1ff, #f6f7f9);
} 

.swapCard {
  width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.switchBtn {
  font-size: '20px';
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.swapSpace {
  width: 99%;
  justify-content: space-between;
}
 .swapBtn {
  margin-top: 10px;
}

